
<div class="row">
<div class="large-12 columns docs-component-inner has-video-hero" id="docs">




<h1>Generate New Module</h1>

<p>
This form creates a module of the name entered into the text field. The newly created module directory will be found in the /applications/modules directory and will contain the controller, view assets directories which will enable the module to function immediately. No CSS is added and is left to the user to style and modify as required.
</p>

<div>
<?php echo $alert_message; ?>.
</div>


<form action="<?php echo PUBLIC_PATH; ?>/skeleton" method="post">
<h3 class="heading">Create a new module skeleton</h3>

<fieldset>
<label for="module_name">Module Name</label>
<p>
     <input type="text" id="module_name" name="module_name" maxlength="50" class="form-poshytip" title="Enter module name" />
</p>
<label for="module_name">Click to create new module</label>
<p><input type="submit" value="Create" id="module_build" name="module_build" id="submit" /></p>
</fieldset>

</form>


</div>

</div>
</article>


</div>


