
<div class="callout large primary">
<div class="row column text-center">
<h1>SKF Framework - Simple Blog</h1>
<h2 class="subheader">Such a Simple Blog Layout</h2>
</div>
</div>

<div class="row medium-8 large-7 columns">
<div class="blog-post">
<h3>Pete Townsend Arrested! <span class="small">1/6/2020</span></h3>
<img class="thumbnail" src="/assets/images/850x350.png" alt="See Fish Speak">
<p>Rock legend Pete Townsend has been taken into custody regarding a break-in at a local animal shelter.</p>
<p>
The alleged crime was commited last night, at the shelters canine section where all the dog cages were opened allowing the animals to escape.
</p>
<p>
Information close to the source are saying The Who let the dogs out.
</p>
<div class="callout">
<ul class="menu simple">
<li><a href="/profile/126">Author: Boom Boom</a></li>
<li><a href="/blog/view/126">Read More about Pete Townsend Arrested.</a></li>
</ul>
</div>
</div>

<div class="blog-post">
<h3>Yorkshire Miners Start Work <span class="small">4/6/2016</span></h3>
<img class="thumbnail" src="/assets/images/850x350.png" alt="Disgruntled Miner">
<p>
Some still are refusing to deal with the fallout of Yorkshire miners heading off to work today. After nine decades of disputes, which has seen the miners on paid leave, troubled households are left to clean up as miners leave for work.
</p>
<div class="callout">
<ul class="menu simple">
<li><a href="/profile/333">Author: Fred Scuttlebut</a></li>
<li><a href="/blog/view/124">Read More about Yorkshire miners.</a></li>
</ul>
</div>
</div>
<div class="blog-post">
<h3>America Disarms <span class="span class="small">2/6/2016</span></h3>
<img class="thumbnail" src="/assets/images/850x350.png" alt="American">
<p>
World peace has been completed today with the United States government dismantling its nuclear arsenal.
</p>
<div class="callout">
<ul class="menu simple">
<li><a href="#">Author: Mike Mikers</a></li>
<li><a href="#">Comments: 3</a></li>
</ul>
</div>
</div>

    <div class="row column">
      <ul class="pagination" role="navigation" aria-label="Pagination">
        <li class="disabled">Previous</li>
        <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
        <li><a href="/page2" aria-label="Page 2">2</a></li>
        <li><a href="/page3" aria-label="Page 3">3</a></li>
        <li><a href="/page4" aria-label="Page 4">4</a></li>
        <li class="ellipsis"></li>
        <li><a href="/page12" aria-label="Page 12">12</a></li>
        <li><a href="/page13" aria-label="Page 13">13</a></li>
        <li><a href="/page2" aria-label="Next page">Next</a></li>
      </ul>
    </div>

</div>
