<div class="callout large primary">
<div class="row column text-center">
<h1>About SKF</h1>
</div>
</div>

<div class="row" id="content">
<div class="medium-8 columns">
<div class="blog-post">
<h2>What we do</h2>
<img class="thumbnail" src="/assets/images/850x350.png" alt="Something about fish">
<p>We aim to bring WCAG into the world# again. .</p>
<p>Accessible websites are now making a comeback, more from government legislation than from peoples goodwill, however, our goal is to provide a simple framework to develop your site.
</p>
</div>
</div>

<div class="medium-3 columns" data-sticky-container>
<div class="sticky" data-sticky data-anchor="content">
<h3>Recent Posts</h3>
<ul>
<li><a href="/blog/123">Man Bites Dog!</a></li>
<li><a href="/blog/124">Fish Speaks!</a></li>
<li><a href="/blog/125">Yorkshire Miner Works!</a></li>
<li><a href="/blog/126">Peace On Earth!</a></li>
</ul>
<h3>Tech News</h3>
<ul>
<li><a href="/news/123">Life On Mars</a></li>
<li><a href="/news/124">Steve Jobs Resurected!</a></li>
<li><a href="/news/222">Sass is useless!</a></li>
<li><a href="/news/333">Life On Earth!</a></li>
</ul>
</div>
</div>
</div>

