@-ms-viewport{
    width:device-width
}

@-o-viewport{
    width:device-width
}

@viewport{
    width:device-width
}
.visuallyhidden,footer h2{
    border:0;
    clip:rect(0 0 0 0);
    height:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    width:1px
}
 .visuallyhidden.hasfocus,footer h2.hasfocus,.visuallyhidden.focusable:active,footer h2.focusable:active,.visuallyhidden.focusable:focus,footer h2.focusable:focus{
    clip:auto;
    height:auto;
    margin:0;
    overflow:visible;
    position:static;
    width:auto
}

body{
	color: black;
}

 @media screen and (min-width: 43em){
    body{
        font-size:100%
    }
}
 @media screen and (min-width: 56em){
    body{
        font-size:112.5%
    }
}

header[role=banner]{
    width:99%;
    margin:0 0.5%;
    margin-bottom:1em;
    border-top:5px solid #930
}

header[role=banner] div{
    margin:0 auto
}
@media screen and (min-width: 43em){
    header[role=banner] div{
        float:right
    }
}
header[role=banner] img{
    display:inline-block;
    vertical-align:middle
}
header[role=banner] a{
    text-decoration:none;
    display:inline-block
}
header[role=banner] a:hover,header[role=banner] a:focus{
    text-decoration:underline
}
