<div class="row column text-center">
<h1>SKF Controllers</h1>
<hr>
</div>

<div class="large secondary">
<div class="row">

<p>
SKF encourages 'coding by contract'. Each controller in the SKF system must extend the base controller class, and implement the iController interface. The controller names following a naming convention also, so the blog controller class declaration would look like this
</p>

<div class="codebox">
<?php
$code='
<?php
        class blogController extends baseController implements IController
?>
';
highlight_string($code);
?>
</div>

<p>
Each should have an callIndex method, which is called automatically when accessed.
</p>

<p>
All functions within a contrller, which are to accessed using the url eg: <b>https://example.com/blog/show</b> must be prefixed with 'call'. Eg:

<div class="codebox">
<?php
$code='
<?php

namespace skf;

class blogController extends baseController implements IController{

	public function __construct(){
	}

	public function callShow{

		/*** a new view instance ***/
		$tpl = new view;

		/*** turn caching on for this page ***/
		$tpl->setCaching(true);

		/*** set the template dir ***/
		$tpl->setTemplateDir(APP_PATH . \'/modules/blog/views\');

		/*** a view variable ***/
		$this->view->title = \'Pete Townsend Arrested\';

		$this->view->current_menu_item = \'Blog\';

		/*** the cache id is based on the file name ***/
		$cache_id = md5( \'blog/show.phtml\' );

		/*** fetch the template ***/
		$this->content = $tpl->fetch( \'show.phtml\', $cache_id);

	}

	public function doSomething(){
		// this function cannot be called from the url 
	}
}
?>
';
highlight_string($code);
?>
</div>


</div>
</div>
