<div class="row column text-center">
<h1>SKF Namespaces</h1>
<hr>
</div>

<div class="large secondary">
<div class="row">


<p>
The SKF system utilizes namespaces, with all classes belonging to the skf namespace. You can write extensions or alternatives to the built in classes, and import it into the SKF framework without risk of naming collisions
</p>

</div>
</div>
