
<div class="row">
<div class="large-12 columns docs-component-inner has-video-hero" id="docs">


<h2>Rebuild DAOs</h2>
<p>
	This page allows the creation of Data Access Objects located in the application/lib/objects directory. If this directory does not exist, the script will attempt to create it. This form should not be included in your live site, or at least be very well secured. You will typically run this whenever you have made a change you your database schema.
</p>
<div>
<?php echo $message; ;?>
</div>
<div>

<ul>
<?php foreach( $warnings as $warn ): ?>
<li><?php echo $warn; ?></li>
<?php endforeach; ?>
</ul>
</div>
<?php echo $form; ?>

</div>

<div>


</div>
</div>

</div>
</article>


</div>

