        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">pages Admin</h1>
                    </div>
			<p>
			This is the index view page for the pages Module Administration.
			</p>
			<p>
			Here you will put all the administration tasks for the pages module.
			</p>
			<p>
			This file is located in /application/pages/views/admin_index.phtml file
			</p>
			<p>
			Access to this administration file is left to the user, or you may remove the
			administration component completely, simply by deleting this file and the
			pages_admincontroller.php file.
			</p>

                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

