
    <div class="callout large">
      <div class="row column text-center">
        <h1>Changing the World Through Design</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.</p>
        <a href="#" class="button large">Learn More</a>
        <a href="#" class="button large hollow">Learn Less</a>
      </div>
    </div>

    <div class="row">
      <div class="medium-6 columns medium-push-6">
        <img class="thumbnail" src="https://placehold.it/750x350">
      </div>
      <div class="medium-6 columns medium-pull-6">
        <h2>Our Agency, our selves.</h2>
        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor.</p>
      </div>
    </div>

    <div class="row">
      <div class="medium-4 columns">
        <h3>Photoshop</h3>
        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
      </div>
      <div class="medium-4 columns">
        <h3>Javascript</h3>
        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
      </div>
      <div class="medium-4 columns">
        <h3>Marketing</h3>
        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
      </div>
    </div>

    <hr>

    <div class="row column">
      <ul class="vertical medium-horizontal menu expanded text-center">
        <li><a href="#"><div class="stat">28</div><span>Websites</span></a></li>
        <li><a href="#"><div class="stat">43</div><span>Apps</span></a></li>
        <li><a href="#"><div class="stat">95</div><span>Ads</span></a></li>
        <li><a href="#"><div class="stat">59</div><span>Cakes</span></a></li>
        <li><a href="#"><div class="stat">18</div><span>Logos</span></a></li>
      </ul>
    </div>

    <hr>

    <div class="row column">
      <h3>Our Recent Work</h3>
    </div>

    <div class="row medium-up-3 large-up-4">
      <div class="column">
        <img class="thumbnail" src="https://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="https://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="https://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="https://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="https://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="https://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="https://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="https://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="https://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="https://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="https://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="https://placehold.it/550x550">
      </div>
    </div>

    <hr>

    <div class="row column">
      <ul class="menu">
        <li><a href="#">One</a></li>
        <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li>
        <li><a href="#">Four</a></li>
      </ul>
    </div>

